* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow: hidden;
}

/* GAME BOARD DIV */
.div-game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.2rem;
    transform: translate(-50%, -50%);
}

/* PLACEHOLDER CARDS */
.div-placeholder-card {
    width: 9.6rem;
    aspect-ratio: 1 / 1;
    perspective: 100rem;
}

/* CARD DIV */
.div-card {
    width: 9.6rem;
    aspect-ratio: 1 / 1;
    perspective: 100rem;
    transition: transform 1s;
    cursor: pointer;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.div-card-inner {
    position: relative;
    width: inherit;
    aspect-ratio: inherit;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-card {
    transform: rotateY(180deg);
}

.div-card-front,
.div-card-back {
    position: absolute;
    width: inherit;
    aspect-ratio: inherit;
    border-radius: 0.4rem;
    backface-visibility: hidden;
}

.div-card-front {
    background-color: orange;
    z-index: 2;
}

.div-card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    transform: rotateY(180deg);
    z-index: 1;
}

.div-card-back img {
    width: 4rem;
}

.div-card-back span {
    font-size: 1.2rem;
    font-weight: 500;
}

/* DIV GAME CARDS STACK */
.div-card-stack {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    width: 9.6rem;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, 0);
    transition: transform 1s;
}

.hide-stack {
    transform: translate(-50%, 150%);
}

.div-top-stack-card {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    aspect-ratio: inherit;
    background-color: darkred;
    border-radius: 0.4rem;
    z-index: 1;
}

.div-top-stack-card span {
    font-size: 1.4rem;
}
